@import "variables";
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Monda&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
    background: linear-gradient(
      0deg,
      rgba(20, 100, 137, 1),
      rgba(20, 100, 137, 0.6)
    ),
}

html {
    font-size: 20px;
    color: $font-color;
    
}

//components
 .button {
    margin: 8px 5px;
    width: 100px;
    padding: 10px;
    background-color: $main-btn-color;
    border: none;
    border-radius: 5px;
    color: $font-color;
    font-size: 0.8rem;
    transition: 0.3s;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        background-color: #175673c7;
        transform: scale(1.1);
    }
}

//to do list
.container {
    background: linear-gradient(
      0deg,
      rgba(20, 100, 137, 0.6),
      rgba(20, 100, 137, 1)
    ),
    url(../images/cubism4.jpg);
    height: 100vh;
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .header {
        color: $font-color;
        &::first-letter {
            color: $second-color;
        }
    }

    .fa-clipboard-list {
        font-size: 3rem;
    }

    .form-add-task {
        display: flex;
        margin: 30px 0 20px 0;
        flex-direction: row;
        align-items: center;

        .input-add-task {
            width: 350px;
            height: 38px;
            padding: 5px 10px;
            font-size: 0.8rem;
            color: #2d3436;
            &:focus {
                outline: none;
            }
        }

        .btn-add-task {
            width: 60px;
            height: 38px;
            margin-left: -1px;
            background: $second-color;
            color: $font-color;
            border-radius: 0 5px 5px 0;
            &:hover {
                transform: scale(1);
                background-color: #cbc419;
            }
        }
    }
    ul {
        padding: 0;
        width: 410px;

        li {
            list-style-type: none;
            font-size: 1rem;
            line-height: 2.5rem;
            
            .fa-trash {
                margin-left: 15px;
                color: #fff;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    color: #b5561f;
                }
            }

            .fa-user-edit {
                margin-right: 10px;
                font-size: 1.1rem;
                position: relative;
                top: 3px;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            .save-btn {
                margin-right: 10px;
                padding: 7px 10px;
                border-radius: 5px;
                color: #fff;
                background-color: #07be83;
                border: none;
                font-size: 0.8rem;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            .task-input {
                padding: 8px 15px;
                width: 276px;
                background-color: transparent;
                border: none;
                color: #fff;
                font-size: 0.8rem;
            }
        }
    }
}